.gameDisplay {
  position: absolute;
  left: calc(50% - 500px);
  bottom: 0;
  height: 100%;
  width: 1000px;
  overflow: hidden;
  border: 1px solid
}


.startText {
  text-align: center;
  position: absolute;
  top: calc(50% - 60px);
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  font-size: 60px;
}

.scoreText {
  font-size: 40px;
}

.leaderBoardInput {
  top: calc(50% + 30px);
  width: 500px;
  border: none;
  display: flex;
  border-bottom: 3px solid;
  text-align: center;
  font-size: 30px;
  padding: 10px 20px 5px 20px;
}

.leaderBoardInput[type=text]:focus {
  outline-width: 0;
}