@keyframes pillarScale {
  from {
    transform-origin: bottom left;
    transform: scaleY(1);
  }
  to {
    transform-origin: bottom left;
    transform: scaleY(120);
  }
}

@keyframes pillarRotate {
  from {
    transform-origin: bottom left;
    transform: rotate(0deg);
  }
  to {
    transform-origin: bottom left;
    transform: rotate(90deg);
  }
}